<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34025167590-3lvtk9irp9pdrv33hm1lo771paalcavt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34025167590-3lvtk9irp9pdrv33hm1lo771paalcavt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>34025167590-234r11queu5pc83j9r3tse7untkhs5tt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0RwOlk11nZvBQzNUNYXAtoksZHmWwVAY</string>
	<key>GCM_SENDER_ID</key>
	<string>34025167590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.t2tacademy.app</string>
	<key>PROJECT_ID</key>
	<string>questly-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>questly-flutter.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34025167590:ios:b560113b674daf32a87927</string>
</dict>
</plist>